
# Files: Excluding all
*.*
# Files: Including important
!.gitignore
!README.md  

# Folders: Excluding all
*/*
# Folders: Including plugins tested
!blocks/gmxp/
!blocks/gmxp/**/*
!local/gamedlemaster
!local/gamedlemaster/**/*
!course/format/
!course/format/gamedle
!course/format/gamedle/**/*
