
# Files: Excluding all
*.*
# Files: Including important
!.gitignore
!README.md  

# Folders: Excluding all
*/*
# Folders: Including plugins tested
!blocks/simplehtml/
!blocks/simplehtml/**/*
# !blocks/gamedle/ HOT FIX
# !blocks/gamedle/**/* HOT FIX
