# Excluding all moodle files and dirs
.idea
.eslintignore
.eslintrc
.gherkin-lintrc
.gitattributes
.jshintignore
.jshintrc
.nvmrc
.shifter.json
.stylelintignore
.stylelintrc
.travis.yml
CONTRIBUTING.txt
COPYING.txt
Gruntfile.js
INSTALL.txt
PULL_REQUEST_TEMPLATE.txt
README.txt
TRADEMARK.txt
admin/
analytics/
auth/
availability/
backup/
badges/
behat.yml.dist
blocks/
blog/
brokenfile.php
cache/
calendar/
cohort/
comment/
competency/
completion/
composer.json
composer.lock
config-dist.php
config.php
course/
customfield/
dataformat/
draftfile.php
enrol/
error/
favourites/
file.php
files/
filter/
grade/
group/
githash.php
help.php
help_ajax.php
index.php
install.php
install/
iplookup/
lang/
lib/
local/
login/
media/
message/
mnet/
mod/
my/
notes/
node_modules/
npm-shrinkwrap.json
package.json
phpunit.xml.dist
pix/
plagiarism/
pluginfile.php
portfolio/
privacy/
question/
rating/
report/
repository/
rss/
search/
tag/
tokenpluginfile.php
theme/
user/
userpix/
version.php
webservice/

# Temporary files of vim
*.swp

# Folders: Including plugins tested
!blocks/gmxp/
!blocks/gmxp/**/*
!blocks/gmlb/
!blocks/gmlb/**/*
!local/gamedlemaster
!local/gamedlemaster/**/*
!course/format/
!course/format/gamedle
!course/format/gamedle/**/*
!mod/gmcompcpu/
!mod/gmcompcpu/**/*
!mod/gmcompcpu/
!mod/gmcompcpu/**/*
