/*
 * UNIVERSITY:  INSTITUTO POLITECNICO NACIONAL (IPN)
 *              ESCUELA SUPERIOR DE COMPUTO (ESCOM)
 *   SUBJECT:     _
 *   PROFESSOR:   _
 *
 * DESARROLLADORES: Daniel Ortega
 *
 * PRACTICE _:  TITULO DE LA PRACTICA
 *               - DESCRIPCION
 *		
*/

.gmlb {
    width:100%;
}

.gmlb .head{
    border-bottom: solid 1px black;
}

.gmlb tr{
    margin:10px;
    height:50px;
}

.gmlb .item{
    font-size: 18px;
}

.gmlb .item:hover{
    background-color: #F0F0F0;
}

.gmlb .right{
    text-align: right;
}
