
/*
    *****************************************************************************************************
    *                                           Estilos genéricos                                       *
    *****************************************************************************************************
*/

.gmtienda-container-columns{
    width: 100%;
    margin-bottom: 1%;
    padding: 1%;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    text-align: center;

}

.gmtienda-container{
    width: 100%;
    margin-bottom: 1%;
    padding: 1%;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: flex-start space-between;
    align-items: flex-start;
}

.gmtienda-half-container{
    width: 50%;
}


.gmtienda-buscador-titulo{
    margin: 3% 10% 0% 10%;
    width: 100%;

}


.gmtienda-titulo{
    text-align: left;
}

.gmtienda-trohpy-image{
    max-height: 100%;
    max-width: 20%;
}


.gmtienda-table {
    width: 60%;
    margin: auto;

}
.gmtienda-tbody tr{
    background-color: whitesmoke;
}

.gmtienda-table tr{
    width: 100%;
    margin: auto;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-evenly;
    align-items: center;
    border: 5px double black;
    text-align: center;
}


.gmtienda-thead{
    background-color: #0981bd;
    color: white;
    font-size: 20px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center space-evenly;
    align-items: center;
}

.gmtienda-tbody{
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center space-evenly;
    align-items: center;
}



.gmtienda-trohpy-image-table{
    max-height: 80px;
    max-width: 80px;
    border: 10px double black;
}


/*
    *****************************************************************************************************
    *                                    Estilos patnalla principal                                     *
    *****************************************************************************************************
*/

.gmtienda-al-desafiar-nombre{
    width: 40%;
}

.gmtienda-buscador{
    width: 80%;
    margin: 0% 10% 0% 10%;
    padding: 2%;

}

.gmtienda-container-victorias{
    margin: 1.5% 24% 1.5% 24%;
    width: 50%;
    background-color: gold;
    padding: 1% 5% 1% 2%;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;
    border: 5px solid black;
    height: 100px;

}

.gmtienda-victories{
    text-align: center;
}

.gmtienda-container-adversaries{
    width: 80%;
    border: 10px double #0981bd;
    align-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.gmtienda-container-challenges{

    width: 100%;
    border: 10px double #bd2d09;
    align-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
}


.gmtienda-container-rival form{

    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 1%;
    padding: 3%;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;

}

.gmtienda-container-desafio{

    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 1%;
    padding: 3%;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;

}

.gmtienda-container-rival-offset{

    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 1%;
    padding: 3%;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;
    background-color: darkgray;

}

/*
    *****************************************************************************************************
    *                                    Estilos patnalla history                                    *
    *****************************************************************************************************
*/

.gmtienda-table-posicion-column{
    max-height: 100%;
    width: 20%;

}
.gmtienda-table-name-column{
    width: 50%;

}

.gmtienda-table-victorias-column{
    width: 30%;

}

.gmtienda-container-resume{
    padding: 2% 0% 1% 0%;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-around;
    align-items: center;
    width: 80%;
}

.gmtienda-container-resume div{
    padding: 0% 1%;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;
}


.gmtienda-table-history-state{
    width: 20%;
}

.gmtienda-table-history-points{
    width: 10%;
}

.gmtienda-table-history-state{
    padding: 10px;
}

.gmtienda-table-history-name{
    width: 40%;
}



/*
    *****************************************************************************************************
    *                                    Estilos patnalla menú                                       *
    *****************************************************************************************************
*/

.gmtienda-contianer-menu-opciones{
    height: 100px;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: flex-end center;
    align-items: flex-end;
    width: 100%;
}
.gmtienda-contianer-menu-opcion-activa, .gmtienda-contianer-menu-opcion{
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
    cursor: pointer;
    display: flex;
    place-content: center;
    align-items: center;
    color: white;
    padding: 1%;

}


.gmtienda-contianer-menu-opcion-activa{
    height: 100%;
    background-color: #0981bd;
    width: 34%;
}
.gmtienda-contianer-menu-opcion{
    height: 60%;
    background-color: #075982;;
    width: 33%;
}


#gmtienda-activity-container{
    width: 100%;
    border: 4px solid black;
    height: 750px;
}

#gmtienda-fieldset-div{

    width: 80%;
    margin: 2% 10% 1% 10%;
    padding: 0;
    border: solid;
}
#gmtienda-fieldset{
    text-align: center;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
}


#gmtienda-table-historial{
    width: 100%;
    font-size: 20px;
}
#gmtienda-table-historial-container{
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0% 10%;
    border: 10px double gray;
}

/*
    *****************************************************************************************************
    *                                    Estilos patnalla highscores                                    *
    *****************************************************************************************************
*/


.gmtienda-container-overflow-half-height{
    height: 400px;

}

.gmtienda-container-overflow-eighty-height{
    height: 80%;

}

#gmtienda-contianer-menu-opcion-scores-container{
    width: 100%;
    height: 100%;
}

.gmtienda-container-scores-scroll{
    height: 100%;
    margin: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

#gmtienda-table-scores{
    margin-top: 2%;
    margin-bottom: 2%;
}

/*
    *****************************************************************************************************
    *                                    Estilos popup confirmación                                     *
    *****************************************************************************************************
*/


.quizattempt .local_gmtienda_preflight_form {
    display: none;
}

.local_gmtienda_preflight_form .femptylabel .fitemtitle {
    display: none;
}

.moodle-dialogue-base .moodle-dialogue.local_gmtienda_preflight_popup {
    width: 600px;
}

.moodle-dialogue-base .moodle-dialogue.local_gmtienda_preflight_popup .moodle-dialogue-wrap {
    overflow: hidden;
}

.moodle-dialogue-base .moodle-dialogue.local_gmtienda_preflight_popup .moodle-dialogue-bd {
    padding: 0;
}

.moodle-dialogue-base .moodle-dialogue.local_gmtienda_preflight_popup .moodle-dialogue-bd .local_gmtienda_preflight_form legend {
    padding: 0 10px;
    margin: 0;
    border: 0 none;
}

.moodle-dialogue-base .moodle-dialogue.local_gmtienda_preflight_popup .moodle-dialogue-bd .local_gmtienda_preflight_form .fitem {
    margin-left: 10px;
}

.moodle-dialogue-base .moodle-dialogue.local_gmtienda_preflight_popup .moodle-dialogue-bd .local_gmtienda_preflight_form #fgroup_id_buttonar {
    padding: 10px 0 0;
    margin: 0;
}

.moodle-dialogue-base .moodle-dialogue.local_gmtienda_preflight_popup .moodle-dialogue-content .moodle-dialogue-ft {
    margin: 0;
}
/* Standard Moodle rule that needs to be more specific here. */
.moodle-dialogue-bd .local_gmtienda_preflight_form fieldset.hidden {
    display: inherit;
    visibility: inherit;
}