
/*
    *****************************************************************************************************
    *                                           Estilos genéricos                                       *
    *****************************************************************************************************
*/

.gmcompvs-container-columns{
    width: 100%;
    margin-bottom: 1%;
    padding: 1%;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    text-align: center;

}

.gmcompvs-container{
    width: 100%;
    margin-bottom: 1%;
    padding: 1%;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: flex-start space-between;
    align-items: flex-start;
}

.gmcompvs-half-container{
    width: 50%;
}


.gmcompvs-buscador-titulo{
    margin: 3% 10% 0% 10%;
    width: 100%;

}


.gmcompvs-titulo{
    text-align: left;
}

.gmcompvs-trohpy-image{
    max-height: 100%;
    max-width: 20%;
}


.gmcompvs-table {
    width: 60%;
    margin: auto;

}
.gmcompvs-tbody tr{
    background-color: whitesmoke;
}

.gmcompvs-table tr{
    width: 100%;
    margin: auto;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-evenly;
    align-items: center;
    border: 5px double black;
    text-align: center;
}


.gmcompvs-thead{
    background-color: #0981bd;
    color: white;
    font-size: 20px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center space-evenly;
    align-items: center;
}

.gmcompvs-tbody{
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center space-evenly;
    align-items: center;
}



.gmcompvs-trohpy-image-table{
    max-height: 80px;
    max-width: 80px;
    border: 10px double black;
}


/*
    *****************************************************************************************************
    *                                    Estilos patnalla principal                                     *
    *****************************************************************************************************
*/

.gmcompvs-al-desafiar-nombre{
    width: 40%;
}

.gmcompvs-buscador{
    width: 80%;
    margin: 0% 10% 0% 10%;
    padding: 2%;

}

.gmcompvs-container-victorias{
    margin: 1.5% 24% 1.5% 24%;
    width: 50%;
    background-color: gold;
    padding: 1% 5% 1% 2%;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;
    border: 5px solid black;
    height: 100px;

}

.gmcompvs-victories{
    text-align: center;
}

.gmcompvs-container-adversaries{
    width: 80%;
    border: 10px double #0981bd;
    align-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.gmcompvs-container-challenges{

    width: 100%;
    border: 10px double #bd2d09;
    align-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
}


.gmcompvs-container-rival form{

    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 1%;
    padding: 3%;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;

}

.gmcompvs-container-desafio{

    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 1%;
    padding: 3%;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;

}

.gmcompvs-container-rival-offset{

    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 1%;
    padding: 3%;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;
    background-color: darkgray;

}

/*
    *****************************************************************************************************
    *                                    Estilos patnalla history                                    *
    *****************************************************************************************************
*/

.gmcompvs-table-posicion-column{
    max-height: 100%;
    width: 20%;

}
.gmcompvs-table-name-column{
    width: 50%;

}

.gmcompvs-table-victorias-column{
    width: 30%;

}

.gmcompvs-container-resume{
    padding: 2% 0% 1% 0%;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-around;
    align-items: center;
    width: 80%;
}

.gmcompvs-container-resume div{
    padding: 0% 1%;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;
}


.gmcompvs-table-history-state{
    width: 20%;
}

.gmcompvs-table-history-points{
    width: 10%;
}

.gmcompvs-table-history-state{
    padding: 10px;
}

.gmcompvs-table-history-name{
    width: 40%;
}



/*
    *****************************************************************************************************
    *                                    Estilos patnalla menú                                       *
    *****************************************************************************************************
*/

.gmcompvs-contianer-menu-opciones{
    height: 100px;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: flex-end center;
    align-items: flex-end;
    width: 100%;
}
.gmcompvs-contianer-menu-opcion-activa, .gmcompvs-contianer-menu-opcion{
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
    cursor: pointer;
    display: flex;
    place-content: center;
    align-items: center;
    color: white;
    padding: 1%;

}


.gmcompvs-contianer-menu-opcion-activa{
    height: 100%;
    background-color: #0981bd;
    width: 34%;
}
.gmcompvs-contianer-menu-opcion{
    height: 60%;
    background-color: #075982;;
    width: 33%;
}


#gmcompvs-activity-container{
    width: 100%;
    border: 4px solid black;
    height: 750px;
}

#gmcompvs-fieldset-div{

    width: 80%;
    margin: 2% 10% 1% 10%;
    padding: 0;
    border: solid;
}
#gmcompvs-fieldset{
    text-align: center;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
}


#gmcompvs-table-historial{
    width: 100%;
    font-size: 20px;
}
#gmcompvs-table-historial-container{
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0% 10%;
    border: 10px double gray;
}

/*
    *****************************************************************************************************
    *                                    Estilos patnalla highscores                                    *
    *****************************************************************************************************
*/


.gmcompvs-container-overflow-half-height{
    height: 400px;

}

.gmcompvs-container-overflow-eighty-height{
    height: 80%;

}

#gmcompvs-contianer-menu-opcion-scores-container{
    width: 100%;
    height: 100%;
}

.gmcompvs-container-scores-scroll{
    height: 100%;
    margin: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

#gmcompvs-table-scores{
    margin-top: 2%;
    margin-bottom: 2%;
}


.gmcompvs-profile-image  {
    max-width: 80px;
    max-height: 80px;
}