/*
    *****************************************************************************************************
    *                                    Estilos patnalla menú                                       *
    *****************************************************************************************************
*/

.gmpregdiarias-contianer-menu-opciones{
    height: 100px;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: flex-end center;
    align-items: flex-end;
    width: 100%;
}
.gmpregdiarias-contianer-menu-opcion-activa, .gmpregdiarias-contianer-menu-opcion{
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
    cursor: pointer;
    display: flex;
    place-content: center;
    align-items: center;
    color: white;
    padding: 1%;

}


.gmpregdiarias-contianer-menu-opcion-activa{
    height: 100%;
    background-color: #0981bd;
    width: 50%;
}
.gmpregdiarias-contianer-menu-opcion{
    height: 60%;
    background-color: #075982;;
    width: 50%;
}

.gmpregdiarias-card-container{
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-end;
    align-items: center;

}
.gmpregdiarias-titulo-ganador{
    margin: 10%;
}
#gmpregdiarias-activity-container{
    width: 100%;
    border: 4px solid black;
    padding: 1%;
    height: 750px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    place-content: center;
}

.gmpregdiarias-section-contianer-menu-opcion{
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.gmpregdiarias-imagen{
}


.gmpregdiarias-titulo{

}

#gmpregdiarias-accion-container{
    padding-top: 4%;
    width: 70%;
    padding-bottom: 1%;
    border-bottom: 1px solid #075982;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-evenly;
    align-items: center;
}


.gmpregdiarias-card{
    width: 40%;
    padding: 1%;

    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
}

#gmpregdiarias-progress-values{
    width: 80%;
    text-align: right;

}

#gmpregdiarias-progress {
    width: 80%;
    padding: 4px;
    border: 0 none;
    background: black;
    border-radius: 14px;
}
#gmpregdiarias-progress::-moz-progress-bar {
    border-radius: 12px;
    background: green;

}

#gmpregdiarias-contianer-menu-opcion-scores-container{
    height: 100%;
    width: 100%;
}

#gmpregdiarias-table-historial-container{
    width: 100%;
    padding: 1%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}


.gmpregdiarias-trohpy-image{
    max-height: 100%;
    max-width: 30%;
    border: 2px solid black;
}


.gmpregdiarias-table {
    width: 80%;
    margin: auto;

}
.gmpregdiarias-tbody tr{
    background-color: whitesmoke;
}

.gmpregdiarias-table tr{
    width: 100%;
    margin: auto;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-evenly;
    align-items: center;
    border: 5px double black;
    text-align: center;
}



.gmpregdiarias-table-posicion-column{
    max-height: 100%;
    width: 20%;

}
.gmpregdiarias-table-name-column{
    width: 40%;

}

.gmpregdiarias-table-preguntas-column{
    width: 40%;
    padding: 1%;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center space-evenly;
    align-items: center;
    text-align: center;

}



.gmpregdiarias-thead{
    background-color: #0981bd;
    color: white;
    font-size: 20px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center space-evenly;
    align-items: center;
}


#gmpregdiarias-contianer-menu-opcion-inicio-container{
    padding-top: 2%;
}
