/*
    *****************************************************************************************************
    *                                   Estilos que se repiten en cada pantalla                         *
    *****************************************************************************************************
*/
.gmpregdiarias-titulo{
    padding: 1%;
}

.gmpregdiarias-container-overflow-eighty-height{
    width: 100%;
    height: 80%;
    padding: 0% 10%;

}


.gmpregdiarias-color-cpu-nivel-1{
    background-color:  #0981bd !important;
    color: white;

}
.gmpregdiarias-color-cpu-nivel-2{
    background-color: green !important;
}
.gmpregdiarias-color-cpu-nivel-3{
    background-color: orange !important;
}
.gmpregdiarias-color-cpu-nivel-4{
    background-color: red !important;
}

.gmpregdiarias-linea-nivel-1, .gmpregdiarias-linea-nivel-2, .gmpregdiarias-linea-nivel-3, .gmpregdiarias-linea-nivel-4{
    width: 100%;
    margin: 5% 0%;
    padding: 1% 1%;
    border: 5px double black;
    text-align: center;
}
.gmpregdiarias-linea-nivel-1{
    background-image: radial-gradient(circle, #0981bd, white, whitesmoke);

}
.gmpregdiarias-linea-nivel-2{
    background-image: radial-gradient(circle, green, white, whitesmoke);
}
.gmpregdiarias-linea-nivel-3{
    background-image: radial-gradient(circle, orange, white, whitesmoke);
}
.gmpregdiarias-linea-nivel-4{
    background-image: radial-gradient(circle, red, white, whitesmoke);
}




/*
    *****************************************************************************************************
    *                         Estilos para mostrar el menú de selección de pantalla                     *
    *****************************************************************************************************
*/
.gmpregdiarias-contianer-menu-opciones{
    height: 100px;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: flex-end center;
    align-items: flex-end;
}
.gmpregdiarias-contianer-menu-opcion-activa, .gmpregdiarias-contianer-menu-opcion{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    cursor: pointer;
    display: flex;
    place-content: center;
    align-items: center;

}


.gmpregdiarias-contianer-menu-opcion-activa{
    height: 100%;
    background-color: #0981bd;
    color: white;
    width: 34%;
}
.gmpregdiarias-contianer-menu-opcion{
    height: 60%;
    background-color: white;
    width: 33%;
}


#gmpregdiarias-activity-container{
    border: 10px solid black;
    height: 800px;
}

/*
    *****************************************************************************************************
    *                                     Estilos para la pantalla principal                            *
    *****************************************************************************************************
*/

#gmpregdiarias-contianer-menu-opcion-inicio-container{
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    height: 100%;
}

#gmpregdiarias-table-cpu-defeated{
    width: 80%;
    height: 20%;
    margin: 5% 0%;
    text-align: center;
}


#gmpregdiarias-table-cpu-defeated thead tr th{
    color: white;
    padding: 1% 0%;
    border: 5px double black;
}

#gmpregdiarias-table-cpu-defeated tbody tr td{
    border: 5px double black;
    background-color: whitesmoke;
    padding: 1% 0%;
}

.gmpregdiarias-imagen-cpu{
    border: 5px solid black;
}


.gmpregdiarias-card-element{
    width: 100%;
    height: 30%;
    transition: 0.3s;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;

}

.gmpregdiarias-card-element > p{
    margin: 0 1%;
}


/*
    *****************************************************************************************************
    *                                 Estilos para la pantalla de intentos                              *
    *****************************************************************************************************
*/


#gmpregdiarias-contianer-menu-opcion-historial-container{
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
}

#gmpregdiarias-table-tries{
    text-align: center;
    width: 100%;
    padding: 0% 10%;
}

#gmpregdiarias-table-tries thead tr th{
    background-color: #0981bd;
    color: white;
    padding: 1% 0%;
    border: 5px double black;
}
#gmpregdiarias-table-tries tbody tr td{
    background-color: whitesmoke;
    padding: 1% 0%;
    border: 5px double black;
}


.gmpregdiarias-container-scroll{
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border: 5px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}


/*
    *****************************************************************************************************
    *                                 Estilos para la pantalla de leaderboards                          *
    *****************************************************************************************************
*/

#gmpregdiarias-contianer-menu-opcion-scores-container{
    padding: 1% 0%;
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
}


.gmpregdiarias-contianer-card{
    padding: 2%;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
}

.gmpregdiarias-contianer-leaderdoard{
    width: 100%;
    padding: 0% 10% 10% 10%;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: flex-start;
    align-items: center;

}

.gmpregdiarias-table-scores{
    width: 90%;
    padding: 0% 5%;
}


.gmpregdiarias-table-scores thead tr th{
    color: white;
    padding: 1% 0%;
    border: 5px double black;
}

.gmpregdiarias-table-scores tbody tr td{
    background-color: whitesmoke;
    color: black;
    padding: 1% 0%;
    border: 5px double black;
}


.gmpregdiarias-container-half-containers{
    /*height: 100%;*/
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: flex-start space-evenly;
    align-items: flex-start;
}

.gmpregdiarias-half-container{
    width: 100%;
    text-align: center;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
}


.gmpregdiarias-imagen-trophy{
    max-width: 40%;
    max-height: 40%;
    border: 5px solid black;
}

.gmpregdiarias-container-niveles{
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
}